body, html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: lightslategrey;
  background-color: ghostwhite;
  margin: 0 auto;
}

.app {
  padding: 10px;
}

header {
  background-color: white;
  margin: 0px;
  padding: 10px;
  h1 {
    margin-top: 0px;
  }
}
